* {
  box-sizing: border-box;
  /* text-align: center; */
}
.body {
  display: flex;
  justify-content: center;
}
.navbar {
  background-color: #ffffff;
  padding: 10px;
  display: flex !important;
  /* max-width:  !important; */
}
.navbar div {
  max-width: 1280px !important;
  margin-left: 20%;
}
.navbar > div > a {
  color: #1a1a1a;
  margin-right: 20px;
}

.detail-container {
  display: flex;
  max-width: 1280px;
  /* border: 1px solid #1a1a1a; */
}
.box-left {
  margin: 10px;
}

.box-left img {
  padding: 3px;
  border: 1px solid #fefefe;
  border-radius: 5px;
}
.box-right {
  padding: 10px;
  margin: 10px;
}
.title-detail {
  border: 1px solid #fefefe;
  border-radius: 5px;
  padding: 10px;
}
ul {
  list-style-type: none;
  padding: 0px;
  border: 1px solid #fefefe;
  border-radius: 5px;
}
ul li {
  padding: 8px 16px;
  border-bottom: 1px solid #fefefe;
}
ul li:first-child {
  background-color: #fefefe !important;
}
.ratting {
  min-width: 1280px;
  text-align: left !important;
}
.review {
  min-width: 1280px;
  text-align: left !important;
}
.ratting ul li form input {
  margin: 10px;
}

.title-checkout {
  text-align: center !important;
  padding-top: 20px;
  margin-bottom: 20px;
}
form input {
  border: none !important;
  border-radius: 5px !important;
  padding: 10px 5px;
  background-color: #e5e4e2;
  width: 100%;
}
.address form > div {
  display: flex !important;
  /* border: 1px solid #000; */
}
.address form > div div {
  /* border: 1px solid #000;  */
  width: 100%;
}
.address form {
  width: 60%;
  text-align: left;
}
.address form > div div input {
  width: 100%;
}
.address form > input[type="checkbox"],
input[type="radio"] {
  width: 50px;
}
.size-box {
  width: 10px !important;
}
.address {
  display: flex !important;
  justify-content: space-between;
  /* border: 1px solid #000; */
  width: 100%;
}
.my-form {
  display: flex !important;
  justify-content: center;
  /* border: 1px solid red !important; */
}
.cart {
  /* border: 1px solid #000; */
  width: 30%;
}
.title-cart {
  display: flex;
  justify-content: space-between;
}
.title-cart div {
  border-radius: 50%;
  background-color: #e5e4e2;
  padding-top: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
  margin-bottom: 10px;
}
.box-product{
  border-left: 1px solid #e5e4e2;
  border-top: 1px solid #e5e4e2;
  border-right: 1px solid #e5e4e2;
border-radius: 5px;
}
.product {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px solid #e5e4e2;
}
.code{
  /* border: 1px solid #000; */
  border-radius: 5px;
  padding: 5px;
}
.code input{
  width: 70%;
  padding: 8px;
  background-color: #e5e4e2;
  border: none !important;
  border-radius: 5px;
}
